<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
  <h3>Enter item to search in NEXT.IL</h3>
  <form
          (ngSubmit) ="onMySubmit()"
          #f="ngForm">
    <div class="form-group">
      <label for="search_bar" class="sr-only"> ID of Item </label>
      <input type="text"
             id="search_bar"
             class="form-control"
             placeholder="Enter searched ID "
             ngModel
             name= "item_id"
             pattern="\d{3}-\d{3}"
             required
             #item_id>

    </div>


    <div *ngIf ="!f.valid && f.touched"
         class="help-block">
      The VALID ID must be XXX-XXX. Where X - is a number.
    </div>

    <button class="btn btn-success form-control"
            type="submit" [disabled]="f.invalid"> Check ID </button>
  </form>

  <div *ngIf ="hasError">
    <hr>
    <div
      class="alert alert-danger" style="font-weight: 600; text-align: center">
      The ID You Searched IS NOT FOUND!
    </div>
    <img class="img-thumbnail"
         style="display: block; margin: auto;"
         src="/assets/img/not_found.jpg">
    <h2 align="center">We are so sorry...</h2>
  </div>

  <div *ngIf="data_received">
    <hr>
    <div class='form-group'>
      <img class="img-thumbnail"
           style="display: block; margin: auto; height: 250px; width: 250px"
      src="/assets/img/make-fun-icon.png">

    </div>
    <h3 align="center">Chose Color</h3>
    <form (ngSubmit)="getAllSizes(colors.value.color)" #colors="ngForm">
    <div class="form-group">
        <select class="form-control"
                ngModel
                name="color"
                required>
          <option
                  *ngFor="let item of data"
                  class="list-group-item"
                  [value]="item.id">{{item.color}}
            <!--<span class="badgesizeitem.id}}</span>-->
          </option>
        </select>
      </div>
      <button
              class="form-control btn btn-primary"
              type="submit"
              [disabled]="colors.invalid">
        Check Sizes
      </button>
    </form>
  </div>
  <app-send-to-tracking
          *ngIf="allSizes.length"
          [all-sizes]="allSizes"
          [tracking-id]="trackingItemId">
  </app-send-to-tracking>
</div>

